.btn-group {
    margin-left: 10px;
}
.btn {
    background-color: #ffffff;
    border: 2px solid #92cafa;
    border-radius: 3px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-outline-secondary {
    
}

.btn-info {   /*active button*/
    background-color: #92cafa;
}
